.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/

.venv/
venv/
ENV/
env.bak/
venv.bak/

build/
dist/
site/.astro/
site/dist/
site/node_modules/

/data/
/db/sqlite/*-journal
/db/sqlite/*-wal
/db/sqlite/*-shm
*.log
*.bak
.env
.env.*

# Ignore Markdown documents except README files.
*.[mM][dD]
![rR][eE][aA][dD][mM][eE].[mM][dD]
